*{
    margin: 0;
    padding: 0;
}
#perfil{
    background-color: #121A20;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.titleperfil{
    position: absolute;
    width: 400px;
    height: 144px;
    left: 138px;
    top: 95px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #EB7F02;
}
.paragraphperfil{
    position: absolute;
    width: 358px;
    height: 48px;
    left: 138px;
    top: 253px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #F8F9FA;
}
.container{
    position: absolute;
    width: 470px;
    height: 510px;
    left: 768px;
    top:30px;
}
.imagemPerfil1{
    position: relative;
    bottom: 40px;
    width: 361px;
    height: 542px;
}
.buttonLike{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 40px;

    position:relative;
    left:20px;
    top:400px;
    left:330px;

    background: #EB7F02;
    border-radius: 5px;
}

.buttonDeslike{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 40px;

    position:relative;
    right: 160px;
    top:350px;


    background: #EB7F02;
    border-radius: 5px;
}